.swiper {
  width: 750px;
  height: 600px;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active-main {
  border-radius: 100px;

}

.swiper-pagination-bullet {
  width: 10px;
}

.swiper-pagination-bullet-active-main {
  width: 30px;
  background: var(--Green, #3FB651);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 7%;
  top: 80%;
}
