.percent {
  position: relative;
  padding-top: 438px;
}
.percent__block-green {
  color: var(--White, #FFF);
  border-radius: 50px;
  background: var(--Green, #3FB651);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 40px 70px 80px 100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}
.percent__block-title-main, .percent__block-title-under {
  font-weight: 700;
  text-transform: uppercase;
}
.percent__block-title-main {
  font-size: 120px;
}
.percent__block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 100px;
}
.percent__block-title-under {
  width: 640px;
  font-size: 60px;
}
.percent__block-description {
  color: var(--White, #FFF);
  font-size: 17px;
  font-weight: 300;
  width: 345px;
}
.percent__wrapper {
  display: flex;
  justify-content: space-between;
}
.percent__block {
  display: flex;
  flex-direction: column;
  grid-gap: 150px;
  position: sticky;
}
.percent__block-figure {
  transition: 0.3s ease !important;
}
.percent__block-figure:first-child {
  border-radius: 20px 100px 20px 20px;
  width: 310px;
  height: 196px;
}
.percent__block-figure:last-child {
  width: 310px;
  height: 211px;
  border-radius: 20px;
  margin-left: 100px;
}
.percent__block-figure:nth-child(2) {
  position: absolute;
  left: 400px;
  top: 30px;
}
.percent__block-figure:nth-child(2):hover div {
  background: var(--Green, #3FB651);
  color: white;
}
.percent__block-figure:nth-child(2):hover h2 {
  color: #3FB651;
}
.percent__block-figure:first-child, .percent__block-figure:last-child {
  border: 1px solid var(--Grey, #A9A9A9);
  padding: 20px;
  position: relative;
  display: flex;
  align-items: end;
}
.percent__block-figure:first-child h2, .percent__block-figure:last-child h2 {
  position: absolute;
  top: -80px;
  background-color: #fff;
  padding-right: 40px;
}
.percent__block-figure-number {
  color: var(--Grey-light, #DADADA);
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.percent__block-figure-text {
  color: var(--Black, #000);
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s ease;
}
.percent__block-btn {
  margin-top: 100px;
}

.percent-second-figure {
  border: 1px solid var(--Grey, #A9A9A9);
  width: 310px;
  padding: 20px;
  border-radius: 100px;
}

.percent-sticky {
  position: sticky;
  top: 150px;
  width: 420px;
  max-height: 300px;
  grid-gap: 0;
}

@media (max-width: 1200px) {
  .percent__block-title-under {
    font-size: 50px;
    width: 60%;
  }
  .percent__block-description {
    width: 38%;
  }
  .percent__block-title-main {
    font-size: 80px;
  }
  .percent {
    padding-top: 338px;
  }
  .percent-sticky {
    top: 0;
    bottom: -100px;
    margin-top: auto;
    right: 20px;
    position: absolute;
  }
  .percent__block-title {
    grid-gap: 0;
  }
  .percent__block-green {
    padding: 40px;
  }
  .percent__image-top {
    height: 440px !important;
  }
}
@media (max-width: 1000px) {
  .percent__block-title {
    flex-direction: column;
    width: 100%;
    grid-gap: 30px;
  }
  .percent__block-title-under {
    width: 100%;
  }
  .percent__block-description {
    margin-right: auto;
    width: 80%;
  }
  .percent__block-figure:last-child {
    margin-left: 0;
  }
  .percent__block-btn {
    margin-top: 40px;
  }
}
@media (max-width: 1000px) {
  .percent__wrapper {
    flex-direction: column;
  }
  .percent__block-figure:nth-child(2) {
    min-height: 320px;
  }
  .percent__block {
    grid-gap: 30px;
  }
  .percent-sticky {
    margin-top: 50px;
    width: 100%;
  }
  .percent__block-btn {
    margin-top: 0;
  }
  .percent-sticky, .percent__block-figure:nth-child(2) {
    position: static;
  }
  .percent__block-figure:first-child, .percent-second-figure, .percent__block-figure:last-child {
    width: 100%;
  }
  .percent__block-title-under {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .percent__image-top {
    height: 300px !important;
  }
  .percent__image-top img {
    object-fit: cover;
  }
  .percent {
    padding-top: 130px;
  }
}

/*# sourceMappingURL=percnet.css.map */
