.projects {
  position: relative;
  overflow: hidden;
  // .projects__background-image
  &__background-image {
    height: 1200px;
    position: relative;

  }

  // .projects__block-green
  &__block-green {
    border-radius: 100px 0 0 100px;
    background: #3FB651;
    position: absolute;
    top: 38%;
    right: 0;
    width: 1100px;

    h2 {
      padding: 110px 474px 131px 110px;
      color: var(--White, #FFF);
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  // .projects__wrapper
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-top: 70px;
    position: relative;
  }

  // .projects__block
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
    width: 420px;
  }

  // .projects__block-wrapper
  &__block-wrapper {
    padding: 20px 28px 0 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .projects__block-title
  &__block-title {
  }

  // .projects__block-title-text
  &__block-title-text {
    color: var(--Black, #000);
    font-size: 20px;
    font-weight: 700;
  }

  // .projects__block-image
  &__block-image {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 300;

    img {
      object-fit: cover;
    }

    p {
      margin-top: 20px;
    }
  }

  // .projects__block-buttons
  &__block-buttons {
    margin-top: 30px;
    width: 100%;

    button {
      width: 100%;
    }
  }
}


.projects__wrapper .projects__block {
  &:nth-child(2) {
    width: 861px;
  }

  &:nth-child(3) {
    width: 419px;

  }
}


@media (max-width: 1800px) {
  .projects__block-green {
    right: -300px;
  }
}

@media (max-width: 1300px) {
  .projects__block-green h2 {
    font-size: 50px;
    padding: 100px;
  }
  .projects__wrapper {
    justify-content: center;
    margin-top: 300px;
  }
  .projects__block-green {
    right: 0;
    width: 784px;
    top: 26%;
  }
  .projects__wrapper .projects__block, .projects__wrapper .projects__block:nth-child(3), .projects__wrapper .projects__block:nth-child(2) {
    min-height: 372px;
  }
  .projects__block-wrapper {
    height: 100%;
    justify-content: center;
  }
  .projects__block-title-text {
    text-align: center;
  }
  .projects__block {
    img {
      width: 267px;
      height: 197px;
    }
  }
  .not-available {

    img {
      width: 42px;
      height: 42px;
    }
  }
  .projects__block-image p {
    font-size: 17px;
  }
  .projects__wrapper .projects__block:nth-child(2) {
    width: 633px;
  }
  .projects__wrapper .projects__block, .projects__wrapper .projects__block:nth-child(3) {
    width: 306px;
  }
  .projects__background-image {
    height: 660px;
  }
}


@media (max-width: 1000px) {
  .projects__block-green {
    top: 20%;
    width: 90%;
  }
  .projects__wrapper {
    margin-top: 350px;
  }
  .projects__wrapper .projects__block, .projects__wrapper .projects__block:nth-child(2) {
    width: 354px;
  }
  .projects__wrapper .projects__block:nth-child(3) {
    width: 728px;
  }
}

@media (max-width: 768px) {
  .projects__wrapper .projects__block {
    width: 100% !important;
  }
  .projects__block-green {
    border-radius: 70px 0px 0px 70px;
    top: 10%;
  }

  .projects__wrapper {
    margin-top: 150px;
  }
  .projects__block-green h2 {
    padding: 60px 140px 60px 60px;
    font-size: 26px;
  }
  .projects__background-image {
    height: 360px;
  }
}

@media (max-width: 576px) {
  .projects__block-green {
    top: 8%;
  }
}

@media (max-width: 486px) {
  .projects__block-green {
    width: 100%;
  }
  .projects__block-green h2 {
    padding: 60px 40px 60px 60px;
  }
}